<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <h1>Team Name: <%= params[:name]%></h1>
 <h2>Coach: <%= params[:coach]%></h2>
 <h3>Point Guard: <%= params[:pg]%></h3>
 <h4>Shooting Guard: <%= params[:sg]%></h4>
 <h5>Power Forward: <%= params[:pf]%></h5>
 <h6>Small Forward: <%= params[:sf]%></h6>
 <h5>Center: <%= params[:c]%></h5>


 </body>
</html>
